@using Extensions
@model _Partials.UserLeftMenu

@{
    var hrefToUser = "/user/" + Model.User.UserName;
    var hasDateOfBirth = Model.User.DateOfBirth.HasValue;
    var hasCity = !string.IsNullOrWhiteSpace(Model.User.City);
    var followAction = Model.Followed.HasValue && Model.Followed.Value? "Unfollow" : "Follow";
}

<div class="left-menu">
    <a href="@hrefToUser" class="lm-image-link">
        <img src="@Model.User.AvatarPath" alt="@@@Model.User.UserName" asp-append-version="true" class="lm-image">
    </a>
    <a href="@hrefToUser" class="name">@Model.User.FullName</a>
    <br>
    <p>
        <a href="@hrefToUser" class="lm-nickname nickname">@@@Model.User.UserName</a>
        @if (!Model.User.PublicProfile)
        {
            <img src="/images/lock.png" class="lock-sign"/>
        }
    </p>
        
    @if (hasDateOfBirth || hasCity)
    {
        <p>
            @if (Model.User.DateOfBirth.HasValue)
            {
                @(Model.User.DateOfBirth.Value.ToString("dd.MM.yyyy") + (hasCity? ", " : ""))
            }
            @if (hasCity)
            {
                @Model.User.City
            }
        </p>
    }
    @if (!string.IsNullOrWhiteSpace(Model.User.ShortInfo))
    {
        <p>@Model.User.ShortInfo</p>
    }

    <div class="lm-statistics"> 
        <a href="@hrefToUser" class="lm-statistics-block">Posts<br>@Model.PostCount</a>
        <a asp-page="Followings" asp-route-userName="@Model.User.UserName" class="lm-statistics-block">Following<br>@Model.FollowingsCount</a>
        <a asp-page="Followers" asp-route-userName="@Model.User.UserName" class="lm-statistics-block">
            Followers
            <br>
            <span id="followers-count">@Model.FollowersCount</span>
        </a>
    </div>
    @if (Model.Followed.HasValue)
    {
        <form method="post" asp-controller="Api" asp-action="@followAction" id="follow-form">
            <input type="hidden" name="userName" value="@Model.User.UserName"/>
            <button type="submit" class="platblogs-button">@followAction</button>
        </form> 
    }
    else
    {
        <div class="lm-hr"></div>
    }
</div>