@model _Partials.LoadMoreModel

<form method="@Model.Method" action="@Model.Action" class="load-more-form">
    <input type="hidden" name="offset" value="@Model.Offset"/>
    @if (Model.HasAdditionalFields)
    {
        foreach (var pair in Model.AdditionalFields)
        {
            <input type="hidden" name="@pair.Key" value="@pair.Value"/>
        }
    }
    <input type="submit" class="platblogs-button" value="@Model.Text"/>
</form>