@model Interfaces.IUserView

@{
    var href = "/user/" + Model.UserName;
}

<div class="user">
    <a href="@href">
        <img src="@Model.AvatarPath" alt="@@@Model.UserName" asp-append-version="true" class="user-img">
    </a>
    <a href="@href" class="name">@Model.FullName</a>
    <div class="nickname-group">
        <a href="@href" class="nickname">@@@Model.UserName</a>
        @if (!Model.PublicProfile)
        {
            <img src="/images/lock.png" alt="Private" class="lock-sign" />
        }
    </div>
    @if (!string.IsNullOrWhiteSpace(Model.ShortInfo))
    {
        <br/>
        @Model.ShortInfo
    }
</div>